<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.devlad.yahtool">

    <application
        android:allowBackup="true"
        tools:replace="android:icon"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityDetailCheck"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityDiag"
            android:label="@string/title_activity_diag"
            android:theme="@style/AppTheme" />
        <activity android:name=".ActivityMantenimineto"
            android:label="@string/title_activity_mante"
            android:theme="@style/AppTheme" />

        <activity android:name=".ActivityYamaha"
            android:label="@string/title_activity_yam"
            android:theme="@style/AppTheme" />
        <activity android:name=".ActivityMismotos"
            android:label="@string/title_activity_mot"
            android:theme="@style/AppTheme" />
    </application>

</manifest>